Package: system-update-tool
Version: 1.0-1
Section: utils
Priority: optional
Architecture: all
Maintainer: kayusboy2001 <kayusboy2001@gmail.com>
Description: Graphical System Update tool for Kali Linux
 This tool provides a simple graphical interface for
 running system updates on Kali Linux.
Depends: zenity, kali-linux-core
